/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
* { margin:0; padding:0; }
body { position:relative; width:100%; height:100%; overflow:hidden; }
button { color:#222; font-size:20px; padding:5px 20px; width:130px; }
#btn1 { position:absolute; top:10px; left:10px; }
#btn2 { position:absolute; top:60px; left:10px; }
#btn3 { position:absolute; top:110px; left:10px; }
#btn4 { position:absolute; top:160px; left:10px; }
#btn5 { position:absolute; top:210px; left:10px; }
#btn6 { position:absolute; top:260px; left:10px; }
#btn7 { position:absolute; top:310px; left:10px; }
#btn8 { position:absolute; top:360px; left:10px; }
#btn9 { position:absolute; top:410px; left:10px; }
#btn0 { position:absolute; top:460px; left:10px; }
#btn10 { position:absolute; top:510px; left:10px; }
a{text-decoration:none} 
a:hover{text-decoration:none} 
.login_box {
  width: 800px;
  height: 30px;
  background-color:transparent;
  margin: auto;
  margin-top: 10%;
  text-align: center;
  border-radius: 20px;
  padding: 5px 5px;
  position:absolute;top:calc(5%) ;left :35% ;
  /* position: absolute;  z-index: -1; */
}    h1 {
    color: #f4f5f990;
    margin-top: 5%;
    font-size:40px;
    font-family:verdana
  }
  h2 {
    color: #374c8190;
    margin-top: 5%;
    font-size:30px;
    font-family:verdana
  }

  .grunge {
    font-size: 50px;
	position:relative;
	color: #1327a8;
	/* background: #000;
	text-shadow: 0 0 2px rgba(255,255,255,0.3), -1px -1px 0 #fcfcfc, 1px 1px 0 #ccc; */

    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: transparent;


    /* color: #fefefe;
    text-shadow: 0 0 0.5em #0ae642, 0 0 0.2em #5c5c5c; */
}


